
body, html {
    height: 100%;
    background-color: #09c5f9;
}

.iceCream {
   /*background-image: url("stardust_@2X.png");*/
   background-color: #09c5f9;
   display: block;
   margin-left: auto;
   margin-right: auto;
   padding: 30px;
   width: 20%;
   height: auto;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #09c5f9;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

img.resizeBench {
  width: 1320px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.parallax {
/*  background-image: url("stardust_@2X.png");*/
  background-color: #09c5f9;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.resume {
 
  background-color: #E0B6EB;
}